html,body
{
width:100%;
height:100%;
margin:0px;
background-color:#eee;
font-family:'Open Sans',sans-serif;
}
body
{
margin-top:75px;
text-align:center;
}
form
{
margin:0px;
padding:0px;
float:left;
}
input
{
outline:none;
border:none;
margin:0px;
padding:0px;
float:left;
text-align:center;
font-family:'Open Sans',sans-serif;
}
div
{
float:left;
}
div.null
{
width:0px;
height:0px;
}
div#header
{
width:100%;
height:60px;
line-height:60px;
position:fixed;
top:0px;
left:0px;
background-color:#26282D;
border-bottom:5px solid #fff;
}
div#headerinr
{
width:960px;
height:60px;
float:none;
margin:0px auto;
color:#eee;
}
div#headerlogo
{
width:180px;
height:60px;
background-color:#D35346;
font-size:20px;
cursor:pointer;
}
div#headernav
{
width:780px;
height:60px;
}
div.headernavitem
{
width:130px;
height:60px;
overflow:hidden;
cursor:pointer;
}
div.headernavitem:hover
{
background-color:#34363C;
overflow:visible;
}
img.headernavitemsprite
{
position:relative;
left:5px;
}
div.headernavitemdrop
{
width:390px;
height:260px;
background-color:#222;
}
div#content
{
width:100%;
margin-bottom:10px;
}
div#contentinr
{
width:960px;
float:none;
margin:0px auto;
}
div#sidecontent
{
width:180px;
height:1608px;
line-height:40px;
background-color:#ddd;
}
div#sidenav
{
width:180px;
background-color:#D35346;
}
div#sidenavtitle
{
width:180px;
height:40px;
color:#fff;
background-color:#D35346;
}
div.sidenavitem
{
width:180px;
height:40px;
font-size:14px;
cursor:pointer;
background-color:#fff;
border-bottom:1px solid #aaa;
}
div.sidenavitem:hover
{
width:178px;
margin-left:2px;
}
div#rightcontent
{
width:780px;
}
div#topnav
{
width:780px;
height:40px;
line-height:40px;
background-color:#ccc;
color:#fff;
}
form#topnavsearch
{
width:650px;
height:40px;
}
input#topnavsearchtext
{
height:40px;
width:500px;
line-height:40px;
text-align:left;
text-indent:10px;
}
input#topnavsearchsubmit
{
width:150px;
height:40px;
cursor:pointer;
line-height:40px;
}
div#topnavcart
{
width:130px;
height:40px;
cursor:pointer;
background-color:#D35346;
}
div#topnavcart:hover
{
background-color:#BB392C;
}
div#gallery
{
width:780px;
}
div#gallerytitle
{
width:780px;
height:80px;
line-height:40px;
background-color:#333;
color:#fff;
}
div#gallerytitlephoto
{
width:60px;
height:60px;
border-radius:60px;
margin:10px 0px 10px 10px;
background-image:url('../img/profile.png');
background-size:cover;
}
div#gallerytitletext
{
width:670px;
height:40px;
padding:10px;
margin:10px;
font-style:italic;
background-color:#444;
}
div#galleryphoto
{
width:780px;
height:440px;
background-image:url('../img/pc_beauty.png');
background-size:100% 100%;
}
div.galleryproductname
{
width:780px;
height:95px;
line-height:95px;
color:#fff;
font-size:50px;
background-color:#333;
}
div.galleryproductprice
{
width:200px;
height:75px;
line-height:75px;
margin:10px;
float:right;
color:#fff;
background-color:#D35346;
}
div#galleryspecs
{
width:760px;
padding:0px 10px;
background-color:#fff;
}
div.galleryspecsitem
{
width:760px;
color:#000;
line-height:25px;
margin-top:10px;
padding-bottom:10px;
border-bottom:1px solid #ddd;
}
img.galleryspecsitemimg
{
width:65px;
height:65px;
float:left;
border:5px solid #ddd;
}
div.galleryspecsitemtitle
{
width:459px;
height:25px;
text-align:left;
margin-left:10px;
color:#999;
padding-left:5px;
border-left:1px solid #999;
}
div.galleryspecsitemname
{
width:465px;
height:25px;
text-align:left;
margin-left:10px;
}
div.galleryspecsitemarticle
{
width:200px;
height:25px;
cursor:pointer;
color:#000;
background-color:#eee;
margin-left:10px;

}
div.galleryspecsitembuy
{
width:200px;
height:25px;
color:#fff;
cursor:pointer;
margin-left:10px;
background-color:#0081FF;
}
div.galleryspecsitemprice
{
width:465px;
height:25px;
color:#fff;
margin-left:10px;
background-color:#D35346;
}
div.galleryspecsitemreview
{
width:200px;
height:25px;
cursor:pointer;
margin-left:10px;
background-color:#007C00;
}
div.galleryspecsitemreviewbar
{
height:25px;
background-color:#00B000;
}
div#reviewscoreonestar{width:20px;}
div#reviewscoretwostars{width:40px;}
div#reviewscorethreestars{width:60px;}
div#reviewscorefourstars{width:80px;}
div#reviewscorefivestars{width:100px;}
div#reviewscoresixstars{width:120px;}
div#reviewscoresevenstars{width:140px;}
div#reviewscoreeightstars{width:160px;}
div#reviewscoreninestars{width:180px;}
div#reviewscoretenstars{width:200px;}
div.galleryspecsitemreviewtext
{
width:200px;
height:25px;
color:#fff;
}
div.galleryspecstotal
{
width:760px;
line-height:25px;
margin-top:10px;
}
div.galleryspecstotaltitle
{
width:550px;
height:25px;
color:#fff;
margin-right:10px;
margin-bottom:10px;
background-color:#aaa;
}
div.galleryspecstotalvalue
{
width:200px;
height:25px;
margin-bottom:10px;
background-color:#eee;
}
div.galleryspecstotalbuy
{
width:760px;
height:25px;
color:#fff;
margin-bottom:10px;
background-color:#0081FF;
}
